.navbar {
  position: fixed;
  top: 4%;
  width: 100;
  right: 2%;
  color: white;
  font-size: 20px;
}

.navbar > .active {
  border: 0.1em solid white;
  border-radius: 100px;
  border-spacing: 15px;
  padding: 0%;
}

.homepage {
  height: 100vh;
  background-color: skyblue;
}

.projects {
  height: 100vh;
  background-color: mediumpurple;
}

.resume {
  height: 100vh;
  background-color: tomato;
}

.contact {
  height: 100vh;
  background-color: blue;
}
