.navbar {
  position: fixed;
  top: 0;
  width: 100;
  right: 5%;
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li{
  color: white;
  font-size: 1em;
  padding-right: 20px;
  display: inline;
}

.homepage {
  height: 100vh;
  background-color: skyblue;
}

.projects {
  height: 100vh;
  background-color: mediumpurple;
}

.resume {
  height: 100vh;
  background-color: tomato;
}

.contact {
  height: 100vh;
  background-color: blue;
}