* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.navbar {
  position: fixed;
  top: 4%;
  width: 100;
  right: 2%;
  color: white;
  font-size: 20px;
}

.navbar > .active {
  border-bottom: 0.1em solid white;
}

.homepage {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1650&q=80);
}

.HomeContent .hometext h1{
  font-size: 3em;
}

.HomeContent .hometext {
  color: white;
  font-size: 2.3em;
}

.HomeContent .Icons {
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
}

.projects {
  height: 100vh;
  background-color: #1b3752;
  display: block;
}

.resume {
  height: 100vh;
  background-color: #204161;
}

.contact {
  height: 100vh;
  background-color: #254b70;
}
